span {
    font-family: 'Nanum Gothic', sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#header {
    width: 80%;
    margin: 0 auto;
}

/* 로그인 / 회원가입 */
div#account_info {
    float: right;
    margin-right: 10px;
}

div#account_info span a {
    color: #01acc8;
    font-weight: bold;
    font-size: 15px;
}

div#account_info span a:hover {
    color: #d60036;
}

div#logo img {
    width: 200px;
    height: 77px;
    margin: 0;
    margin-left: 100px;
}


hr {
    border: 3px solid #01acc8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 0;
}

.modal_bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibitily 0s, opacity 0.5s;
}

.bg_active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: #01acc8;
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal input[type=button]{
    padding: 5px 60px;
    border-radius: 10px;
    box-shadow: none;
    border: none;

}

/* Menu */

div#top_menu ul {
    float: right;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    bottom: 0;
}

div#top_menu ul li.dropdown {
    background-color: #01acc8;
    border-radius: 10px 10px 0 0;
    padding: 8px 50px;
    font-size: 15px;
    font-weight: bold;
    float: left;
    border-right: 1px solid #ccc;
    /* position: relative; */
}

div#top_menu ul li.dropdown:last-child {
    border-right: none;
}

div#top_menu ul li.dropdown:hover {
    background-color: #00b7d3;
}

ul.dropdown-content {
    float: left;
    left: 0;
}

div#top_menu ul li.dropdown div.dropdown-content ul.dropdown-content-wrapper li {
    width: 100%;
    padding: 10px 0px;
    
}

div#top_menu ul li.dropdown ul.dropdown-content li {
    width: 100%;
}

div#dropdown-content-wrapper {
    width: 100%;
    position: absolute;
}

div#top_menu ul li.dropdown:hover .dropdown-content {
    display: block;
}

div#top_menu ul li.dropdown:active {
    background-color: #00b2ce;
}

div#top_menu ul li.dropdown .dropdown-content {
    display: none;
}

div#top_menu li a {
    color: white;
}

div#top_menu ul li:hover a {
    color: #d60036;
    font-weight: bold;

}

div#top_menu ul li:hover #top_menu {
    background-color: #00d3f3;
}

.clear {
    clear: both;
}

/* Article Title */
div#main_img {
    background-image: url(../img/kids.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 400px;
}

div#main_img .img_title {
    color: white;
    text-align: center;
}

div#main_img .title {
    font-size: 60px;
    font-style: italic;
    margin: 0;
    padding-top: 50px;
    font-weight: bold;
}

div#main_img .descrip {
    font-size: 20px;
    padding: 50px;
    font-weight: bold;
    font-style: italic;
}


/* Important Information */
div#important_info {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
}

table#goli_info {
    width: 70%;
    margin: 0 auto;
}

table#goli_info tr th {
    font-size: 20px;
}


table#goli_info tr:nth-child(2) td {
    text-align: center;
    color: #d60036;
    font-weight: bold;
    font-size: 80px;
}

/* Mission */

div#mission {
    margin-top: 15px;
    width: 80%;
    margin: 0 auto;
    height: 360px;
    padding: 20px 0;
}

div#mission #iframe {
    float: left;
    
}

div#mission #iframe iframe {
    width: 600px;
    height: 360px;
    border: 0px;
}

div#mission div#mission_txt {
    text-align: center;
    float: right;
    height: 360px;
}

div#mission div#mission_txt h2 {
    font-size: 40px;
    color: #d60036;
    margin-bottom: 5px;
}

div#mission div#mission_txt p {}